---
import news from "../images/newsletter/illustration-sign-up-desktop.svg";
import listimg from "../images/newsletter/icon-list.svg";
import success from "../images/newsletter/icon-success.svg"
---

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
  }

  .card {
    background-color: hsl(0, 0%, 100%);
    color: hsl(234, 29%, 20%);
    display: flex;

    width: 950px;
    border-radius: 1rem;
  }

  .card__side {
    padding: 1.25rem;
  }

  .card__main {
    padding: 3rem;
    text-align: left;
  }

  .card h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 1rem 0;
  }

  .card p {
    margin-bottom: 1.5rem;
  }

  ul {
    list-style-type: none;
    line-height: 2.5;
  }

  ul img {
    margin-right: 0.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2rem;
  }

  label {
    font-size: small;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  input {
    padding: 1rem 2rem;
    border: 0.1px solid hsl(231, 7%, 60%);
    border-radius: 0.5rem;
    font-size: 14px;
  }

  input:focus {
    outline: 0.1rem solid hsl(234, 29%, 20%);
  }

  input:invalid {
    background-color: #ffdddd;
    border: 0.1px solid hsl(4, 100%, 67%);
    color: hsl(4, 100%, 67%);
  }

  .error_msg {
        color: hsl(4, 100%, 67%);
        margin-left: 15rem;
        display: none;
    }

  button {
    margin-top: 20px;
    padding: 0.75rem;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;

    border-radius: 0.5rem;
    border: none;
  }

  button:hover {
    background: linear-gradient(
      90deg,
      rgba(255, 62, 128, 1) 35%,
      rgba(253, 99, 74, 1) 100%
    );
    color: hsl(0, 0%, 100%);
  }

  .modal {
    background-color: hsl(0, 0%, 100%);
    color: hsl(234, 29%, 20%);
    display: none;

    width: 450px;
    padding: 3rem;

    border-radius: 1.75rem;
  }
    .modal > img {
        margin: 0.5rem 0 1.5rem 0;
    }

    .modal h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .modal p {
        margin: 0.75rem;
        font-size: 14px;
        line-height: 1.5;
    }
    .modal button {
        width: 100%;
    }
    
    a {
    align-self: flex-start;
    left: 3rem;
    top: 3rem;
    position: absolute;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
  }

  a:link {
    color: hsl(0, 0%, 100%);
  }

  svg {
    line-height: 1;
    height: 1em;
    width: 1em;
  }

</style>

<script src="../lib/newsletter.js" />

<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
    type="text/css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<a href="/">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z"
      fill="currentColor"></path>
  </svg>
  Home
</a>
<main>
  <div id="card" class="card" hidden>  
    <div class="card__main">
      <h1>Stay Updated!</h1>
      <p>Join 60,000+ product managers recieving monthly updates on:</p>
      <ul>
        <li>
          <span><img src={listimg.src} alt="list.png" /></span>Product discovery
          and building what matters
        </li>
        <li>
          <span><img src={listimg.src} alt="list.png" /></span>Measuring to
          ensure updates are a success
        </li>
        <li>
          <span><img src={listimg.src} alt="list.png" /></span>And much more!
        </li>
      </ul>

      <form class="info">
        <label for="email">Email Address <span class="error_msg">Email invalid</span></label>
        <input id="useremail" class="input_error" type="email" placeholder="email@company.com" />

        <button>Subscribe to monthly newsletter</button>
      </form>
    </div>
    <div class="card__side">
      <img src={news.src} alt="newsletter" />
    </div>
  </div>
  <div id="modal" class="modal">
    <img src={success.src} alt="success">
    <h1>Thanks for Subscribing</h1>
    <p>A confirmation email has been sent to <strong>ash@loremcompany.com</strong>. Please open it and click the button inside to confirm your subscription.</p>
    <button>Dismiss message</button>
  </div>
</main>
